<div>

    <div  ng-controller="chartsController">
        <div class="container">
            <div class="row">
                <br>
                <div class="col-sm-12">
                    <div dx-chart="chartOptions">

                    </div>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-sm-12">
                    <div class="col-sm-offset-4">
                        <h4>DC kW/L Demand by Region</h4>
                    </div>
                    <div id="pivotGrid" dx-pivot-grid="pivotGridOptions">
                    </div>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div dx-pivot-grid-field-chooser="{ dataSource: $('#pivotGrid').dxPivotGrid().getDataSource() }">-->

                <!--</div>-->
            <!--</div>-->

            <div class="row">
                <br>
                <div class="col-sm-12">
                    <div class="col-sm-offset-4">
                        <h5>More Charts</h5>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
