<div ng-controller="dataExplorerController">
    <div  >
        <div class="container">
            <div class="row">
                <br>
                <legend><strong>Data Explorer</strong> </legend>
                <div class="col-sm-3">
                    <br>
                    <label for="category">Category name</label>
                    <div id="category">
                        <isteven-multi-select
                                input-model="inputCategories"
                                output-model="outputCategories"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                                selection-mode="single"
                                on-item-click="getDataVersionsForSelectedCategory( data )"
                                >
                        </isteven-multi-select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <br>
                    <label for="subjectList">Subject</label>

                    <div id="subjectList">
                        <isteven-multi-select
                                input-model="subjectList"
                                output-model="selectedSubject"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                                selection-mode="single"
                                >
                        </isteven-multi-select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <br>
                    <label for="dataVersion">Data version</label>

                    <div id="dataVersion">
                        <isteven-multi-select
                                input-model="dataVersionValues"
                                output-model="outputDataVersions"
                                button-label="icon name"
                                item-label="icon name maker"
                                tick-property="ticked"
                                selection-mode="single"
                                on-item-click="getSelectedDataVersion( data )"
                                >
                        </isteven-multi-select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <br><br><br>
                    Records Retrieved:  {{skip}}
                </div>
                <div class="col-sm-9">
                    <br><br>
                    <h6>We will retrieve 500 records at a time. To get more records, simply click the 'Get Data' button again</h6>
                    <br>
                    <button ng-click="getData()">Get data</button>
                </div>
                <div class="col-sm-12">
                    <div  dx-data-grid="gridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
